@page
@model IndexModel
<div class="text-center">
    <h1 class="display-4">Data</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>IP</th>
            <th>Sender</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var packet in Model.Packets)
        {
            <tr>
                <td>@packet.IP</td>
                <td>@packet.Sender</td>
                <td>@packet.Count</td>
            </tr>
        }
    </tbody>
</table>
</div>
